/** Vars start */

:root {
    --red-color: #f95157;
    --green-color: #88dec0;
}
  
/** Vars end */


html, body {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -100px;
}
.content {
    padding-top: 50px;
    box-sizing: border-box;
    min-width: 1000px;
}

img.left {
    float: left;
    padding: 0px 15px 10px 0px;
}
img.right {
    float: right;
    padding: 0px 0px 10px 15px;
}
iframe {
    display: block;
    margin: auto;
}

.button {
    border: 0px;
    border-radius: 25px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    min-width: 170px;
    padding: 0px 30px;
    
    background: var(--red-color);

    text-align: center;
    color: white !important;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
    a.button:after {
        display: none;
    }
    .button:hover {
        opacity: 0.8;
    }

.footer, .push {
    height: 100px;
    position: relative;
    z-index: 100;
}
    .footer {
        border-top: 1px solid #d5d5d5;
    }
    .push {
        margin-top: 30px;
    }
    .footer .center1600 {
        vertical-align: middle;
        padding: 25px 0px;
        box-sizing: border-box;
    }

.clear {
    clear: both;
}

.center1600 {
    margin:  auto;;
    width: 100%;
    max-width: 1600px;
    padding: 0px 40px;
    box-sizing: border-box;
    min-width: 1000px;
}

.popup-wrap {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
    display: none;
}
.popup {
    position: fixed;
    top: 50px;
    left: 50%;
    margin-left: -215px;
    cursor: pointer;
    width: 430px;
    background-color: white;
    padding: 30px 50px;
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 1100;
    display: none;
}
    .popup .title {
        font-weight: 700;
        font-size: 20px;
    }

a {
    color: black;
    display: inline-block;
    text-decoration: none;
    position: relative;
}
    a:after {
        display: block;
        position: absolute;
        width: 0px;
        content: "";
        height: 1px;
        bottom: 0px;
        background-color: var(--red-color)c;
        transition: 0.3s;
    }
    a:hover:after {
        width: 100%;
    }

h1 {
    font-size: 48px;
    font-weight: 500;
}

.head {
    height: 130px;
    width: 100%;
    min-width: 1000px;
    border-bottom: 1px solid #d5d5d5;
}
    .head .menu {
        float: right;
    }
        .menu a {
            margin: 57px 20px;
            font-size: 18px;
            color: black;
        }

.logo {
    display: block;
    float: left;
    height: 70px;
    margin-top: 45px;
    font-size: 20px;
    font-weight: 300;
    color: black !important;
}
    .logo:after {
        display: none;
    }
    .logo svg {
        width: 70px;
        height: 70px;
        vertical-align: middle;
        margin-right: 20px;
    }

.breadcrumbs {
    font-size: 13px;
}
    .breadcrumbs a {
        color: rgb(94, 94, 94);
    }
        .breadcrumbs a:after {
            background-color: rgb(94, 94, 94);
        }

.inputgroup {
    display: block;
    position: relative;
    margin: 10px 0px 20px 0px;
    font-size: 16px;
}
    .inputgroup label {
        display: block;
        line-height: 30px;
    }
    input[type='text'], input[type='email'], input[type='password'] {
        padding: 0px 10px;
        width: 300px;
        height: 30px;
        border: 1px solid black;
        line-height: 30px;
        border-radius: 5px;
    }
    .inputgroup.error input[type='text'], .inputgroup.error input[type='email'], .inputgroup.error input[type='password'] {
        border-color: var(--red-color);
    }
    
    .inputgroup .errortext {
        display: none;
        font-size: 12px;
        padding: 3px 5px;
    }
        .inputgroup.error {
            color: var(--red-color);
        }
            .inputgroup.error .errortext {
                display: block;
            }

.message {
    display: block;
    padding: 20px;
    width: 100%;
    background-color: rgba(0, 89, 255, 0.14);
    border-radius: 5px;
}


div.right, div.left {
    float: right;
    width: 49%;
    padding: 10px;
    box-sizing: border-box;
}
    div.left {
        float: left;
    }

.sites {
    width: 100%;
}
    .site {
        padding: 0px 40px 40px 40px;
        margin: 0px 1% 25px 0px;
        background-color: #f8f8f8;
        border-top: 4px solid #ffcc00;
        display: inline-block;
        width: 100%;
        max-width: 48%;
        vertical-align: top;
        min-height: 205px;
    }
        .site.up {
            border-color: var(--green-color);
        }
        .site.error {
            border-color: var(--red-color);
        }
        .site.warning {
            border-top: 4px solid #ffcc00;
        }

        .site .status {
            font-size: 16px;
            margin-top: 25px;
            margin-bottom: 25px;
            color: #565656;
        }
        .site .name {
            font-size: 24px;
            font-weight: 500;
            line-height: 30px;
            display: block;
            cursor: pointer;
            float: left;
            margin-bottom: 20px;
        }
        .site .domain {
            float: right;
        }
            .site .domain a {
                font-size: 16px;
                line-height: 30px;
                color: #282828;
            }
                .site .domain a:hover {
                    border-color: transparent;
                }

        .site .icons {
            display: inline-block;
            margin: 10px 3px 0px 0px;
        }
            .site .icons svg {
                fill: #7c7c7c;
                max-width: 24px;
                max-height: 24px;
            }
                .site.error .icons svg {
                    fill: var(--red-color);
                }